pyhotline README.CONFIG
=======================
Last updated: 01/27/2013

Notes
-----
The pyhotline configuration file uses JSON syntax. This is good and bad:
    * Good - allows for writing complex config files
    * Bad  - easy to screw up (single vs double quotes, forgetting commas, etc.)

In other words - be careful when editting the config!

Config Documentation 
--------------------
There are two required objects in the config - 'main' and 'groups'.

'main' contains the following members:

- manager_host [string]
    * Host where Asterisk's management interface (AMI) runs on.

- manager_port [int]
    * AMI's port.

- manager_username [string]
    * Username to use to login to AMI.

- manager_password [string]
    * Password to use to login to AMI.

- origin_timeout [int]
    * How long to wait for an outbound call to connect.

- outbound_context [string]
    * The context that is used in Asterisk for making outbound calls to
      external numbers. This value is used when pyhotline constructs the
      channel it will use for originating the outbound call (ie. 'Local/' +
      outbound_prepend + contact_number + '@' + outbound_context).
      
- outbound_prepend [int]
    * Digit(s) that may need to be prepended for making outbound calls (ie. '1').
      If there is no need to prepend any digits, change this setting to 'false'.

- smtp_host [string]
    * SMTP host used for sending email notifications.

- smtp_port [int]
    * SMTP port used for sending email notifications.

The 'groups' object should consist of one or more hotline groups. The hotline
group name (ie. 'myhotline') is what is used for referencing the specific
hotline in the inbound, outbound and queue scripts.

The hotline group object contains the following members:

- sqlite_database [string]
    * SQLite database location (each hotline has its own db).

- message_dir [string]
    * Directory where recorded messages are stored.

- log_file [string]
    * Log file location.

- log_level [string]
    * Log level to use ('debug', 'info', 'warning', 'error', 'critical')

- team_name [string]
    * The team that the hotline is for.

- caller_id [string]
    * The caller id that will be used when making outbound calls.
      Note that there is no guarantee whether this will work, as it depends
      on your service provider.

- email_phonetic [string]
    * A phonetic spelling of the email address that the caller will be informed
      to contact during the inbound call.

- email_notify [bool]
    * Whether email notifications should be sent when new issues are submitted
      and calls are dispatched.

- email_to [string]
    * The email address that will receive email notifications.
      Set to 'false', if 'email_notify' is set to 'false'. 

- email_from [string]
    * The source email address for notification emails.
      Set to 'false', if 'email_notify' is set to 'false'. 

- max_attempts [int]
    * The amount of call attempts that will be made for an unresolved issue.
      Accepted values '0..10'. 0 = infinite attempts.

- contacts [array]
    * The contacts array contains one or more objects containing:
        - name [string]
            * Name of the on-call contact.
        
        - number [string]
            * Phone number of the on-call contact.

        - schedule [array]
            * The schedule consists of an array of integers representing the
              specific weekday (ie. Monday = 0, Sunday = 6).

        - priority [int]
            * Determines the call order in the case of overlapping schedules or
              emergency. Higher priority receives calls first.
              
        - emergency [bool]
            * Determines whether the contact is available for calls if all
              other scheduled and/or emergency contacts fail.
